div#toprow {
	background-color: #031568;
	color: #E6E6F2;
	border-top: 5px solid #03135D;	
	border-bottom: 5px solid #03135D;
	margin-top: 10px;
}

div#contentrow {
	padding-top: 30px;
}

body {
	background-color: #fafafa;
}

.container, .container-fluid {
	background-color: #fafafa;
}

.central-form {
	padding: 40px;
	background-color: #E6E6F2;
	color: #000;
	border-top: 5px solid #D9D9E8;
	border-bottom: 5px solid #D9D9E8;
}

.central-form button {
}

a {
	color: #D9273F;
}

/* ---------- HEADER ------------- */

#headp {
	padding-top:18px;
	text-align: right;
}